<div style="text-align: center; padding: 0; margin: 6em 0; font-family: 'Open Sans', sans-serif;">
    <div ng-if="!empresa.logo">
        <h3 style="margin: 0; font-size: 36px; font-weight: 100; color: #1e1e1e;">{{empresa.nome}}</h3>
    </div>
    <div style="width: 20%; text-align: center; margin: 0 auto;" ng-if="empresa.logo">
        <img class='photo-container' style="width: 100%;" ng-src="{{appSettings.API_URL}}upload/logos/download/{{empresa.logo}}" />
    </div>
    <!--<h3>Prestador: {{prestador.nome}}</h3>-->
</div>
