<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">

<div style="margin: 50px;">
  
    <div style="text-align: center; padding: 0; margin: 6em 0; font-family: 'Open Sans', sans-serif;">
        <div ng-if="!empresa.logo">
            <h3 style="margin: 0; font-size: 36px; font-weight: 100; color: #1e1e1e;">{{empresa.nome}}</h3>
        </div>
        <div style="width: 20%; text-align: center; margin: 0 auto;" ng-if="empresa.logo">
            <img class='photo-container' style="width: 100%;" ng-src="{{appSettings.API_URL}}upload/logos/download/{{empresa.logo}}" />
        </div>
    </div>
  
    <div style="margin: 5em 1em; font-family: 'Open Sans', sans-serif; color: #424242; text-align: center;">
        <h2 style="text-align: center; color: #1e1e1e; font-weight: 900; text-transform: uppercase; font-size: 20px;">
            {{documento.nome}}
        </h2>
        <div class="row">
            <div style="font-size: 18px; margin: 6em 0; text-align: justify; text-justify: inter-word; color: #424242;">
                <p>{{documento.texto}}</p>
            </div>
            <div ng-if="documento.assinatura_pac_status && documento.assinatura_pres_status" style="font-size: 16px; color: #424242; text-align: center; font-weight: 700;">
                <div style="float: left; width: 48%; padding-left: .5em; text-align: center;">
                    <p style="margin: 0; padding-bottom: 1em; border-top: 1px solid #0a0a0a;">{{paciente.nome}}</p>
                </div>
                <div style="float: left; width: 48%; padding-left: .5em; text-align: center;">
                    <p style="margin: 0; padding-bottom: 1em; border-top: 1px solid #0a0a0a;">Dr(a). {{documento.prestador.nome}} - {{documento.prestador.conselho.nome}} {{documento.prestador.conselho_numero}}</p>
                </div>
            </div>
            <div ng-if="documento.assinatura_pac_status && !documento.assinatura_pres_status" style="font-size: 16px; color: #424242; text-align: center; font-weight: 700;">
                <div>
                    <p style="margin: 0; padding-bottom: 1em; border-top: 1px solid #0a0a0a;">{{paciente.nome}}</p>
                </div>
            </div>
            <div ng-if="!documento.assinatura_pac_status && documento.assinatura_pres_status" style="font-size: 16px; color: #424242; text-align: center; font-weight: 700;">
                <div>
                    <p style="margin: 0; padding-bottom: 1em; border-top: 1px solid #0a0a0a;">Dr(a). {{documento.prestador.nome}} - {{documento.prestador.conselho.nome}} {{documento.prestador.conselho_numero}}</p>
                </div>
            </div>
            <div style="font-size: 16px; color: #424242; text-align: center;">
                <!--<span ng-if="empresa.enderecos.length > 0">{{empresa.enderecos[0].cidade}},</span>-->
                <p style="margin: 0; padding-bottom: 1em; clear: both;">
                    {{documento.updatedAt | moment:"format":"LLLL"}}
                </p>
                <!--<p>{{data | moment:"format":"LLLL"}}</p>-->
            </div>
            <div style="margin: 5em 0; text-align: center; font-size: 18px; color: #424242;">
                <span style="font-weight: bold;">{{empresa.nome}}</span>
                <span ng-if="empresa.enderecos.length > 0">
                    | {{empresa.enderecos[0].logradouro}}, {{empresa.enderecos[0].numero}}
                    <span ng-if="empresa.enderecos[0].complemento"> - {{empresa.enderecos[0].complemento}}</span>
                    | {{empresa.enderecos[0].cidade}}-{{empresa.enderecos[0].estado}}
                </span>
                <!--<span ng-if="empresa.telefones.length > 0">{{empresa.telefones[0].numero}}</span>-->
                <p ng-if="empresa.email">{{empresa.email}}</p>
            </div>
        </div>
    </div>
</div>
