<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">

<div style="margin: 50px;">
  
  <div style="text-align: center; padding: 0; margin: 6em 0; font-family: 'Open Sans', sans-serif;">
      <div ng-if="!empresa.logo">
          <h3 style="margin: 0; font-size: 36px; font-weight: 100; color: #1e1e1e;">{{empresa.nome}}</h3>
      </div>
      <div style="width: 20%; text-align: center; margin: 0 auto;" ng-if="empresa.logo">
          <img class='photo-container' style="width: 100%;" ng-src="{{appSettings.API_URL}}upload/logos/download/{{empresa.logo}}" />
      </div>
  </div>

  <div style="font-family: 'Open Sans', sans-serif; color: #424242;">
      <h2 style="color: #1e1e1e; font-weight: 900; text-transform: uppercase; font-size: 20px; padding: 0; margin: 0; text-align: center;">
          Relatório de Prontuário
      </h2>
      <h3 style="color: #424242; font-weight: 100; font-size: 16px; padding: 0; margin-bottom: 5em; text-align: center;">
          Paciente: {{paciente.nome}}
      </h3>
      <div class="row">
          <div>
              <div ng-if="!prontuario.length" style="
                          text-align: center;
                          margin: 20px 0;
                      ">Nenhum registro encontrado para esse paciente.</div>
              <div ng-repeat="entrada in prontuario">
                  <div style="border-bottom: 1px solid #424242; padding: 0;">
                      <div style="margin: 0; padding: 1em 0;">
                          <!-- Consultas and Retorno -->
                          <div ng-if="entrada.tipo">
                              <h4 style="margin: 0; padding: 0;">{{entrada.tipo.nome}} - {{entrada.status.nome}}</h4>
                              <div ng-if="entrada.prestador.nome !== undefined">
                                  <label>Prestador:</label>
                                  <span>{{entrada.prestador.nome}}</span>
                              </div>
                              <div ng-if="entrada.duracao">
                                  <label>Tempo:</label>
                                  <span>{{entrada.duracao}} minutos</span>
                              </div>
                              <div ng-if="entrada.descricao">
                                  <label>Descrição:</label>
                                  <span>{{entrada.descricao}}</span>
                              </div>
                          </div>
            
                          <!-- Encaminhamentos -->
                          <div ng-if="entrada.encaminhamentos.length > 0">
                              <label style="float: left; margin-right: .5em;">Encaminhamentos: </label>
                              <div ng-repeat="encaminhamento in entrada.encaminhamentos track by encaminhamento.id">
                                  <span>{{encaminhamento.prestador.nome}} ({{encaminhamento.especialidade.descricao}}) </span>
                              </div>
                          </div>
            
                          <!-- Receitas, Encaminhamentos and Exams -->
                          <div class="row" ng-if="entrada.label === 'receituario'">
                              <div class="col-sm-12">
                                  <h4>Receita Prescrita: {{entrada.nome}}</h4>
                                  <div ng-repeat="item in entrada.receituario_itens" style="margin-bottom: 1em;">
                                      <label>Medicamento:</label>
                                      <span>{{item.medicamento.nome_apresentacao}} |</span>
                  
                                      <label>Quantidade:</label>
                                      <span>{{item.qtd}} |</span>
                  
                                      <label>Dosagem:</label>
                                      <span>{{item.dosagem}} |</span>
                  
                                      <label>Unidade de Medida:</label>
                                      <span>{{item.unidade_medida.nome}} |</span>
                    
                                      <label>Posologia:</label>
                                      <span>{{item.posologia.nome}} |</span>
                    
                                      <label>Via:</label>
                                      <span>{{item.via.nome}} |</span>
                    
                                      <label>Duração:</label>
                                      <span>{{item.duracao.nome}} |</span>
                    
                                      <label>Frequência:</label>
                                      <span>{{item.frequencia.nome}}</span>
                    
                                      <label ng-if="item.obs !== null">| Observação:</label>
                                      <span ng-if="item.obs !== null">{{item.obs}}</span>
                                  </div>
                                </div>
                          </div>
                          <div ng-if="entrada.label === 'encaminhamentos'">
                              <h4>Encaminhamento Realizado</h4>
                              <div>
                                  <label>Médico Encaminhado:</label>
                                  <span>{{entrada.prestador.nome}} |</span>
                
                                  <label>Especialidade:</label>
                                  <span>{{entrada.especialidade.descricao}}</span>
                              </div>
                              <div ng-if="entrada.observacao">
                                  <label>Observação:</label>
                                  <span>{{entrada.observacao}}</span>
                              </div>
                          </div>
                          <div class="row" ng-if="entrada.label === 'arquivos'">
                              <div class="col-sm-12">
                                  <h4>Arquivo Registrado</h4>
                                  <div>
                                      <label>Título:</label>
                                      <span>{{entrada.titulo}}</span>
                                  </div>
                                    <div ng-if="entrada.descricao">
                                      <label>Descrição:</label>
                                      <span>{{entrada.descricao}}</span>
                                  </div>
                                  <div ng-if="entrada.laudo">
                                      <label>Laudo:</label>
                                      <span>{{entrada.laudo}}</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row" ng-if="entrada.label === 'exames'">
                              <div class="col-sm-12">
                                  <h4>Exame Realizado</h4>
                                  <div>
                                      <label>Valor:</label>
                                      <span>{{entrada.valor}}</span>
                                  </div>
                                  <div>
                                      <label>Resultado:</label>
                                      <span>{{entrada.resultado}}</span>
                                  </div>
                                  <div>
                                      <label>Indicador:</label>
                                      <span>{{entrada.indicador.descricao}}</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row" ng-if="entrada.label === 'documentos'">
                            <div class="col-sm-12">
                                <h4>Documento Emitido</h4>
                                <div>
                                    <label>Nome:</label>
                                    <span>{{entrada.nome}}</span>
                                </div>
                                <div>
                                    <label>Tipo:</label>
                                    <span>{{entrada.documento_tipo.nome}}</span>
                                </div>
                                <div>
                                    <label>Texto:</label>
                                    <span>{{entrada.texto}}</span>
                                </div>
                                <div>
                                    <label>Prestador:</label>
                                    <span>{{entrada.prestador.nome}}</span>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div style="padding-bottom: 1em;">
                          <span>{{entrada.inicio | moment:"format":"LLLL"}}</span>
                      </div>
                  </div>
            </div>
          </div>
          <div style="font-size: 16px; color: #424242; text-align: center; margin-top: 8em;">
              <p style="margin: 0; padding-bottom: 1em;">{{prontuario.updatedAt | moment:"format":"LLLL"}}</p>
          </div>
          <div style="margin: 5em 0; text-align: center; font-size: 18px; color: #424242;">
              <span style="font-weight: bold;">{{empresa.nome}}</span>
              <span ng-if="empresa.enderecos.length > 0">
                      | {{empresa.enderecos[0].logradouro}}, {{empresa.enderecos[0].numero}}
                      <span ng-if="empresa.enderecos[0].complemento"> - {{empresa.enderecos[0].complemento}}</span>
                      | {{empresa.enderecos[0].cidade}}-{{empresa.enderecos[0].estado}}
                  </span>
              <p ng-if="empresa.email">{{empresa.email}}</p>
          </div>
      </div>
  </div>

  <!--<div>-->
    <!--<h2>Histórico de CID</h2>-->
    <!--<crud-tab-list print="true" type="cid"></crud-tab-list>-->
  <!--</div>-->

  <!--<div>-->
    <!--<h2>Histórico de Exames</h2>-->
    <!--<crud-tab-list print="true" type="exames"></crud-tab-list>-->
  <!--</div>-->
  <!---->
  <!--<div>-->
    <!--<h2>Histórico de Documentos</h2>-->
    <!--<crud-tab-list print="true" type="documentos-medicos"></crud-tab-list>-->
  <!--</div>-->

</div>
