
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">

<div style="margin: 50px;">
  
  <div style="text-align: center; padding: 0; margin: 6em 0; font-family: 'Open Sans', sans-serif;">
      <div ng-if="!empresa.logo">
          <h3 style="margin: 0; font-size: 36px; font-weight: 100; color: #1e1e1e;">{{empresa.nome}}</h3>
      </div>
      <div style="width: 20%; text-align: center; margin: 0 auto;" ng-if="empresa.logo">
          <img class='photo-container' style="width: 100%;" ng-src="{{appSettings.API_URL}}upload/logos/download/{{empresa.logo}}" />
      </div>
  </div>
  
  <div style="font-family: 'Open Sans', sans-serif; color: #424242; text-align: center;">
      <h2 style="text-align: center; color: #1e1e1e; font-weight: 900; text-transform: uppercase; font-size: 20px; padding: 0;">
          Receita Prescrita: {{receituario.nome}}
      </h2>
      <div class="row">
          <div ng-repeat="receita in receituario.receituario_itens">
              <div>
                  <span>Para: Paciente {{paciente.nome}}</span>
              </div>
              <div>
                  <h4 style="padding: 2em 0;">{{receita.medicamento.nome_apresentacao}}</h4>
                  <div>
                      <span>Posologia: {{receita.posologia.nome}}</span>
                      <span> | Unidade de medida: {{receita.unidade_medida.nome}}</span>
                      <span> | Via: {{receita.via.nome}}</span>
                  </div>
                  <div>
                      <span>Duração: {{receita.duracao.nome}}</span>
                      <span> | Frequência: {{receita.frequencia.nome}}</span>
                  </div>
              </div>
          </div>
          <div style="margin-top: 6em; font-weight: 700; font-size: 16px; color: #424242; text-align: center;">
              <div>
                  <p style="border-top: 1px solid #0a0a0a; margin: 0; padding-bottom: 1em;">Dr(a). {{prestador.nome}} - {{prestador.conselho.nome}} {{prestador.conselho_numero}}</p>
              </div>
          </div>
          <div style="font-size: 16px; color: #424242; text-align: center;">
              <p style="margin: 0; padding-bottom: 1em;">
                  {{receituario.data | moment:"format":"LLLL"}}.
              </p>
          </div>
          <div style="margin: 5em 0; text-align: center; font-size: 18px; color: #424242;">
              <span style="font-weight: bold;">{{empresa.nome}}</span>
              <span ng-if="empresa.enderecos.length > 0">
                  | {{empresa.enderecos[0].logradouro}}, {{empresa.enderecos[0].numero}}
                  <span ng-if="empresa.enderecos[0].complemento"> - {{empresa.enderecos[0].complemento}}</span>
                  | {{empresa.enderecos[0].cidade}}-{{empresa.enderecos[0].estado}}
              </span>
              <p ng-if="empresa.email">{{empresa.email}}</p>
          </div>
      </div>
  </div>
</div>
