<div class="col-md-5 col-lg-5 col-xs-5">
  <ol class="breadcrumb">
    <li ><a ui-sref="app.dashboard">Home</a></li>
    <li class="active">
      <a ng-click="goToList()">{{headers.label}}
        </a>
    </li>
  </ol>
</div>
