<section class="widget">
    <div class="widget-body">
        <form class="form-horizontal" role="form" ng-submit="submit(this)" crud-form name="crudForm" headers="{{headers}}" novalidate>
          <ng-include src="'app/modules/core/utils/crud/crud-modal-form.html'"></ng-include>
        </form>
    </div>
</section>
