<div class="row">
    <ng-include src="'app/modules/core/utils/crud/breadcrumb.html'"></ng-include>
  </div>
  
  <section class="widget">
    <div class="widget-body">
  
      <form class="form-horizontal" role="form" ng-submit="submit(this)" crud-form name="crudForm" headers="{{headers}}" novalidate autocomplete="off">
        <ng-include src="'app/modules/core/utils/crud/crud-form.html'"></ng-include>
  
  
      </form>
    </div>
  </section>
