<div>
  <fieldset ng-if="headers.masterdetails.search">
    <legend>
      <strong>Selecionar um(a) {{headers.label_row}}</strong>
    </legend>
    <form class="form-horizontal" role="form" crud-form name="crudForm" novalidate>
      <div class="form-group" ng-repeat="field in headers.masterdetails.search.fields">
        <div class="col-sm-12">
          <fw-input fw-data="data"></fw-input>
        </div>
      </div>
    </form>
  </fieldset>
  <fieldset>
    <legend>
      <strong>{{headers.label}}: Novo Item</strong>
    </legend>
    <div class="form-group" ng-repeat="field in headers.fields | filter: {editable: true}">
      <label for="{{field.name}}" class="col-sm-2 control-label">{{field.label}}
        <span ng-if="field.required">*</span>
      </label>
      <div class="col-sm-9">
        <fw-input fw-data="modal_data"></fw-input>
      </div>
    </div>
    <div class="form-group" style="padding: 2em;" ng-if="headers.buttons">
      <legend>
        <strong>Ações</strong>
      </legend>
      <div ng-repeat="button in headers.buttons | filter: {viewable: true}">
        <button type="button" ng-click="buttonClick(button.method)" class="btn btn-big btn-primary">
          <span class="icon fa" ng-class="button.icon"></span>{{button.label}}
        </button>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-7">
        <button type="submit" class="btn btn-big btn-primary">
          <span class="icon fa fa-floppy-o"></span>Salvar</button>
        <button type="button" class="btn btn-big btn-inverse" ng-click="cancel()">
          <span class="icon fa fa-undo"></span>Cancelar</button>
      </div>
    </div>
  </div>
</div>
