@import "theme/variables";
@import "theme/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/font-awesome/scss/variables";
@import "../../bower_components/select2-bootstrap-css/lib/select2-bootstrap"; //everything below this line is required for essential styling
@import "theme/general";
@import "theme/global-transitions";
@import "theme/base";
@import "theme/widgets";
@import "theme/utils";
@import "theme/print";
@import "modules/agenda/agenda";
#dashboard {
    //padding: 60px 0 0 20px !important;
}

.btn-column {
    min-width: 96px;
}

.nav-collapsed:not(.nav-static) .collapse.in {
    display: none;
}

fw-tags {
    width: 97%;
}

.tags {
    margin-bottom: 5px;

 }

 .tags .tag {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
 }

 .tag .close {
    font-size: 14px;
    margin-left: 5px;
 }

 .tab-pane .form-group {
     height: 34px;
 }

.nav-tabs li {
    & > a {
        color: white;
        background: lighten($bg-primary-darker, 10%);
    }
    &.active > a {
        &, &:hover, &:focus {
            color: white;
            background: $nav-tabs-active-link-bg;
        }
    }

}


.modal-xl {
    width: 90%;
}

.prontuario {
    .headers {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      border-bottom: 2px solid $color-primary;

      h3 {
        font-weight: bold;
      }
    }

    .fixed-caption-block fieldset .form-group:first-of-type {
        width: calc(100% - 110px);
    }

    .photo-container {
        width: 110px;
        height: 120px;
    }

    .tabs-below > .nav-tabs,
    .tabs-right > .nav-tabs,
    .tabs-left > .nav-tabs {
        border-bottom: 0;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: none;
    }

    .tab-content > .active,
    .pill-content > .active {
        display: block;
    }

    .tabs-below > .nav-tabs {
        border-top: 1px solid #ddd;
    }

    .tabs-below > .nav-tabs > li {
        margin-top: -1px;
        margin-bottom: 0;
    }

    .tabs-below > .nav-tabs > li > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }

    .tabs-below > .nav-tabs > li > a:hover,
    .tabs-below > .nav-tabs > li > a:focus {
        border-top-color: #ddd;
        border-bottom-color: transparent;
    }

    .tabs-below > .nav-tabs > .active > a,
    .tabs-below > .nav-tabs > .active > a:hover,
    .tabs-below > .nav-tabs > .active > a:focus {
        border-color: transparent #ddd #ddd #ddd;
    }

    .tabs-left > .nav-tabs > li,
    .tabs-right > .nav-tabs > li {
        float: none;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 0px;
    }

    .tabs-left > .nav-tabs {
        float: left;
        /* margin-right: 19px; */
        border-right: 1px solid #ddd;
    }

    .tabs-left > .nav-tabs > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .tabs-left > .nav-tabs > li > a:hover,
    .tabs-left > .nav-tabs > li > a:focus {
        border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
    }

    .tabs-right > .nav-tabs {
        float: right;
        margin-left: 19px;
        border-left: 1px solid #ddd;
    }

    .tabs-right > .nav-tabs > li > a {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

    .tabs-right > .nav-tabs > li > a:hover,
    .tabs-right > .nav-tabs > li > a:focus {
        border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }

    .tabs-right > .nav-tabs .active > a,
    .tabs-right > .nav-tabs .active > a:hover,
    .tabs-right > .nav-tabs .active > a:focus {
        border-color: #ddd #ddd #ddd transparent;
        border-left-color: #ffffff;
    }


    img
    {
        vertical-align: middle;
    }
    .img-responsive
    {
        display: block;
        height: auto;
        max-width: 100%;
    }
    .img-rounded
    {
        border-radius: 3px;
    }
    .img-thumbnail
    {
        background-color: #fff;
        border: 1px solid #ededf0;
        border-radius: 3px;
        display: inline-block;
        height: auto;
        line-height: 1.428571429;
        max-width: 100%;
        moz-transition: all .2s ease-in-out;
        o-transition: all .2s ease-in-out;
        padding: 2px;
        transition: all .2s ease-in-out;
        webkit-transition: all .2s ease-in-out;
    }
    .img-circle
    {
        border-radius: 50%;
    }
    .timeline-centered {
        position: relative;
        margin-bottom: 1em;
    }

    #descricao {
        height: 200px;
    }

        .timeline-centered:before, .timeline-centered:after {
            content: " ";
            display: table;
        }

        .timeline-centered:after {
            clear: both;
        }

        .timeline-centered:before, .timeline-centered:after {
            content: " ";
            display: table;
        }

        .timeline-centered:after {
            clear: both;
        }

        .timeline-centered:before {
            content: '';
            position: absolute;
            display: block;
            width: 4px;
            background: #f5f5f6;
            left: 15%;
            top: 20px;
            bottom: 20px;
            margin-left: -4px;
        }

        .timeline-centered .timeline-entry {
            position: relative;
            width: 85%;
            float: right;
            margin-bottom: 2em;
            clear: both;
        }

            .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry:after {
                clear: both;
            }

            .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry:after {
                clear: both;
            }

            .timeline-centered .timeline-entry.begin {
                margin-bottom: 0;
            }

            .timeline-centered .timeline-entry.left-aligned {
                float: left;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                    margin-left: 0;
                    margin-right: -18px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                        left: auto;
                        right: -100px;
                        text-align: left;
                    }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                        float: right;
                    }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                        margin-left: 0;
                        margin-right: 70px;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label div.row {
                        overflow: hidden;
                    }

                        .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                            left: auto;
                            right: 0;
                            margin-left: 0;
                            margin-right: -9px;
                            -moz-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }

            .timeline-centered .timeline-entry .timeline-entry-inner {
                position: relative;
                margin-left: -22px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                    content: " ";
                    display: table;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner:after {
                    clear: both;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                    content: " ";
                    display: table;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner:after {
                    clear: both;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                    position: absolute;
                    left: -100px;
                    text-align: right;
                    padding: 10px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                        display: block;
                    }

                        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                            font-size: 15px;
                            font-weight: bold;
                        }

                        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                            font-size: 12px;
                        }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                    background: #fff;
                    color: #737881;
                    display: block;
                    width: 20px;
                    height: 20px;
                    -webkit-background-clip: padding-box;
                    -moz-background-clip: padding;
                    background-clip: padding-box;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    text-align: center;
                    -moz-box-shadow: 0 0 0 5px #f5f5f6;
                    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                    box-shadow: 0 0 0 5px #f5f5f6;
                    line-height: 40px;
                    font-size: 15px;
                    float: left;
                    margin-left: 1.5%;
                    margin-top: 2%;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                  i.fa {
                    font-size: 8px;
                    display: flex;
                    margin-left: 30%;
                    margin-top: 30%;
                  }
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                        background-color: #303641;
                        color: #fff;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                        background-color: #ee4749;
                        color: #fff;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                        background-color: #00a651;
                        color: #fff;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                        background-color: #21a9e1;
                        color: #fff;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                        background-color: #fad839;
                        color: #fff;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                        background-color: #cc2424;
                        color: #fff;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                    position: relative;
                    background: #f5f5f6;
                    padding: 1.7em;
                    margin-left: 70px;
                    -webkit-background-clip: padding-box;
                    -moz-background-clip: padding;
                    background-clip: padding-box;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;

                  div.receita {
                    border-bottom: 2px solid $color-primary;
                    border-top: 2px solid $color-primary;
                    padding: .5em 0;
                  }
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 9px 9px 9px 0;
                        border-color: transparent #f5f5f6 transparent transparent;
                        left: 0;
                        top: 10px;
                        margin-left: -9px;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                        color: #737881;
                        font-family: "Noto Sans",sans-serif;
                        font-size: 12px;
                        margin: 0;
                        line-height: 1.428571429;
                        font-weight: bold;
                    }

                        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                            margin-top: 15px;
                        }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                            color: #303641;
                        }

                        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                            -webkit-opacity: .6;
                            -moz-opacity: .6;
                            opacity: .6;
                            -ms-filter: alpha(opacity=60);
                            filter: alpha(opacity=60);
                        }



    .button-container a.btn {
        border-radius: 3px;
        background-color: $bg-primary;
    }

    .button-container a.btn:hover {
        background-color: $bg-primary-light;
    }



    .button-container a.btn i {
        font-size: 21px;
        color: white;
    }
}

// Toggle layout updates

label.btn.toggle-on {
  color: white;
}

// label.btn.toggle-off {
//   color: $sidebar-item-hover-bg-color;
// }

toggle div.toggle.btn.btn-sm {
  min-width: 10em;
}

//Webcam
.webcam-body{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

.webcam>img{
    -webkit-text-size-adjust: 100%;
}


.webcam-body>button{
    margin: 2%;
}

span.text-muted, .ui-select-bootstrap .ui-select-choices-row>span {
    color: $color-primary;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
    background-color: $bg-primary;
}

div.ui-select-match.btn-default-focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $bg-primary-lighten;
}

label {
    font-weight: bold;
}

form .fw-input-group .progress {
    max-width: 100%;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    @media (max-width: $screen-sm-min) {
        color: $sidebar-color;
    }
}

form fieldset table.detail-table tr td:last-child {
    width: 8em;
}

ol.breadcrumb {
    font-size: 1.3em;
}

//textarea.form-control {
//    height: 15em;
//}

.color-picker-wrapper.picker-icon {
    display: none;
}

form .fw-input-group .dropdown-menu {
    width: auto;
}

.center-hv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-button-simple {
    width: 50px;
    height: 50px;
    background-color: $bg-primary;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.fab-button-simple span {
    cursor: pointer;
}

div.calendar-component {
    margin-top: 2em;
}