<nav id="sidebar" role="navigation" class="sidebar">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a>
              <img src="assets/images/main-logo-responsive-full.png" alt="">
            </a>
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
         looks good, so adding it and enhancing with notifications -->
        <div class="sidebar-status visible-xs" style="text-align: center;">
            <a>
              <img src="assets/images/main-logo-responsive.png" alt="">
            </a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!--<span class="thumb-sm avatar pull-right">-->
                <!--<img class="img-circle" src="assets/images/people/a5.jpg" alt="...">-->
                <!--</span>-->
                <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
             should be used with bg-* and text-* classes for colors -->
                <!--<span class="circle bg-warning fw-bold text-gray-dark">-->
                <!--13-->
                <!--</span>-->
                <!--&nbsp;-->
                {{user.first_name}} {{user.last_name}}
                <b class="caret"></b>
            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <!-- main notification links are placed inside of .sidebar-nav -->
        <!--<ul class="sidebar-nav">-->
        <!--<li>-->
        <!--&lt;!&ndash; an example of nested submenu. basic bootstrap collapse component &ndash;&gt;-->
        <!--<a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">-->
        <!--<span class="icon">-->
        <!--<i class="fa fa-desktop"></i>-->
        <!--</span>-->
        <!--Dashboard-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-dashboard" class="collapse">-->
        <!--<li><a data-ui-sref="app.dashboard">Dashboard</a></li>-->
        <!--<li><a data-ui-sref="app.widgets">Widgets</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a data-ui-sref="app.inbox">-->
        <!--<span class="icon">-->
        <!--<i class="fa fa-envelope"></i>-->
        <!--</span>-->
        <!--Email-->
        <!--<span class="label label-danger">-->
        <!--9-->
        <!--</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a data-ui-sref="app.charts">-->
        <!--<span class="icon">-->
        <!--<i class="glyphicon glyphicon-stats"></i>-->
        <!--</span>-->
        <!--Charts-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a data-ui-sref="app.profile">-->
        <!--<span class="icon">-->
        <!--<i class="glyphicon glyphicon-user"></i>-->
        <!--</span>-->
        <!--Profile-->
        <!--<sup class="text-warning fw-semi-bold">-->
        <!--new-->
        <!--</sup>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->

        <!--<h5 class="sidebar-nav-title">Template <a class="action-link" href="#"><i class="glyphicon glyphicon-refresh"></i></a></h5>-->
        <ul class="sidebar-nav">
            <li>
                <a data-ui-sref="app.dashboard">
                    <span class="icon">
                        <i class="fa fa-tachometer"></i>
                    </span> Dashboard
                </a>
            </li>
            <li ng-repeat="menu in menus">
                <a data-target="#sidebar-{{$index}}" class="collapsed" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa {{menu.icone}}" aria-hidden="true"></i>
                    </span> {{menu.nome}}
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-{{$index}}" class="collapse" aria-expanded="true" style="">
                    <li ng-repeat="item in menu.menus">
                        <a data-ui-sref="app.{{item.settings}}">
                            <span class="icon">
                                <i class="fa {{item.icone}}" aria-hidden="true"></i>
                            </span> {{item.nome}}
                        </a>
                    </li>

                </ul>
            </li>
        </ul>

        <!-- every .sidebar-nav may have a title -->
        <!--<h5 class="sidebar-nav-title">Template <a class="action-link" href="#"><i class="glyphicon glyphicon-refresh"></i></a></h5>-->
        <!--<li>-->
        <!--&lt;!&ndash; an example of nested submenu. basic bootstrap collapse component &ndash;&gt;-->
        <!--<a class="collapsed" data-target="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">-->
        <!--<span class="icon">-->
        <!--<i class="glyphicon glyphicon-align-right"></i>-->
        <!--</span>-->
        <!--Forms-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-forms" class="collapse">-->
        <!--<li><a data-ui-sref="app.form-elements">Form Elements</a></li>-->
        <!--<li><a data-ui-sref="app.form-validation">Form Validation</a></li>-->
        <!--<li><a data-ui-sref="app.form-wizard">Form Wizard</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="collapsed" data-target="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">-->
        <!--<span class="icon">-->
        <!--<i class="glyphicon glyphicon-tree-conifer"></i>-->
        <!--</span>-->
        <!--UI Elements-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-ui" class="collapse">-->
        <!--<li><a data-ui-sref="app.ui-components">Components</a></li>-->
        <!--<li><a data-ui-sref="app.ui-notifications">Notifications</a></li>-->
        <!--<li><a data-ui-sref="app.ui-icons">Icons</a></li>-->
        <!--<li><a data-ui-sref="app.ui-buttons">Buttons</a></li>-->
        <!--<li><a data-ui-sref="app.ui-tabs-accordion">Tabs & Accordion</a></li>-->
        <!--<li><a data-ui-sref="app.ui-list-groups">List Groups</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a data-ui-sref="app.grid">-->
        <!--<span class="icon">-->
        <!--<i class="glyphicon glyphicon-th"></i>-->
        <!--</span>-->
        <!--Grid-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="collapsed" data-target="#sidebar-maps" data-toggle="collapse" data-parent="#sidebar">-->
        <!--<span class="icon">-->
        <!--<i class="glyphicon glyphicon-map-marker"></i>-->
        <!--</span>-->
        <!--Maps-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-maps" class="collapse">-->
        <!--<li><a data-ui-sref="app.maps-google">Google Maps</a></li>-->
        <!--<li><a data-ui-sref="app.maps-vector">Vector Maps</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
        <!--&lt;!&ndash; an example of nested submenu. basic bootstrap collapse component &ndash;&gt;-->
        <!--<a class="collapsed" data-target="#sidebar-tables" data-toggle="collapse" data-parent="#sidebar">-->
        <!--<span class="icon">-->
        <!--<i class="fa fa-table"></i>-->
        <!--</span>-->
        <!--Tables-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-tables" class="collapse">-->
        <!--<li><a data-ui-sref="app.tables-basic">Tables Basic</a></li>-->
        <!--<li><a data-ui-sref="app.tables-dynamic">Tables Dynamic <sup class="bg-transparent text-danger fs-sm fw-bold">ng</sup></a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="collapsed" data-target="#sidebar-extra" data-toggle="collapse" data-parent="#sidebar">-->
        <!--<span class="icon">-->
        <!--<i class="fa fa-leaf"></i>-->
        <!--</span>-->
        <!--Extra-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-extra" class="collapse">-->
        <!--<li><a data-ui-sref="app.extra-calendar">Calendar <sup class="bg-transparent text-danger fs-sm fw-bold">ng</sup></a></li>-->
        <!--<li><a data-ui-sref="app.extra-invoice">Invoice</a></li>-->
        <!--<li><a data-ui-sref="login">Login Page</a></li>-->
        <!--<li><a data-ui-sref="error">Error Page</a></li>-->
        <!--<li><a data-ui-sref="app.extra-gallery">Gallery <sup class="bg-transparent text-danger fs-sm fw-bold">ng</sup></a></li>-->
        <!--<li><a data-ui-sref="app.extra-search">Search Results</a></li>-->
        <!--<li><a data-ui-sref="app.extra-timeline">Time Line</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="collapsed" data-target="#sidebar-levels" data-toggle="collapse" data-parent="#sidebar">-->
        <!--<span class="icon">-->
        <!--<i class="fa fa-folder-open"></i>-->
        <!--</span>-->
        <!--Menu Levels-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-levels" class="collapse">-->
        <!--<li><a href>Level 1</a></li>-->
        <!--<li>-->
        <!--<a class="collapsed" data-target="#sidebar-sub-levels" data-toggle="collapse" data-parent="#sidebar-levels">-->
        <!--Level 2-->
        <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-sub-levels" class="collapse">-->
        <!--<li><a href>Level 3</a></li>-->
        <!--<li><a href>Level 3</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
        <!--<h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>-->
        <!--&lt;!&ndash; some styled links in sidebar. ready to use as links to email folders, projects, groups, etc &ndash;&gt;-->
        <!--<ul class="sidebar-labels">-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--&lt;!&ndash; yep, .circle again &ndash;&gt;-->
        <!--<i class="fa fa-circle text-warning mr-xs"></i>-->
        <!--<span class="label-name">My Recent</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<i class="fa fa-circle text-gray mr-xs"></i>-->
        <!--<span class="label-name">Starred</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<i class="fa fa-circle text-danger mr-xs"></i>-->
        <!--<span class="label-name">Background</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--<h5 class="sidebar-nav-title">Projects</h5>-->
        <!--&lt;!&ndash; A place for sidebar notifications & alerts &ndash;&gt;-->
        <!--<div class="sidebar-alerts">-->
        <!--<div class="alert fade in">-->
        <!--<a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>-->
        <!--<span class="text-white fw-semi-bold">Sales Report</span> <br>-->
        <!--<div class="progress progress-xs mt-xs mb-0">-->
        <!--<div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>-->
        <!--</div>-->
        <!--<small>Calculating x-axis bias... 65%</small>-->
        <!--</div>-->
        <!--<div class="alert fade in">-->
        <!--<a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>-->
        <!--<span class="text-white fw-semi-bold">Personal Responsibility</span> <br>-->
        <!--<div class="progress progress-xs mt-xs mb-0">-->
        <!--<div class="progress-bar progress-bar-danger" style="width: 23%"></div>-->
        <!--</div>-->
        <!--<small>Provide required notes</small>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</nav>
