<div class="container" style="width:100%">
    <main id="content" class="widget-login-container" role="main" style="padding:0">
        <div class="row">
            <!---->
            <div class="login-container col-lg-10 col-sm-10 col-xs-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1" style="margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;">
                <section class="widget widget-login animated fadeInUp row">
                    <div class="col-lg-6 col-sm-6 col-xl-6 col-xs-12">
                      <img src="assets/images/main-logo.png" alt="">
                    </div>
                    <div class="widget-header col-lg-6 col-sm-6 col-xl-6 col-xs-12">
                        <!--<header class="logo-home" style="margin:0 auto;padding-bottom: 0;">-->
                        <!--</header>-->
                        <h2>Seja bem-vindo!</h2>
                        <form class="login-form mt-lg">
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input id="email" type="text" class="form-control" ng-model="email">
                            </div>
                            <div class="form-group">
                                <label for="pswd">Senha:</label>
                                <input class="form-control" id="pswd" type="password" ng-model="password">
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar">
                                    <button class="btn btn-big" ng-click="login()">Entrar</button>
                                </div>
                            </div>
                            <div>
                                <a class="mr-n-lg" ui-sref="password">Esqueceu sua senha?</a>
                                <br />
                                <!--<a class="mr-n-lg" ui-sref="signup">Novo por aqui? Cadastre-se</a>-->
                            </div>
                        </form>
                    </div>
                    <!--<div class="widget-body">
            <form class="login-form mt-lg">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input id="email" type="text" class="form-control" ng-model="email">
              </div>
              <div class="form-group">
                <label for="pswd">Senha</label>
                <input class="form-control" id="pswd" type="password" ng-model="password">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar">
                  <button class="btn btn-primary btn-big" ng-click="login()">Entrar</button>
                </div>
              </div>
              <div>
                <a class="mr-n-lg" ui-sref="password">Esqueceu sua senha?</a>
                <br />
                <a class="mr-n-lg" ui-sref="signup">Novo por aqui? Cadastre-se</a>
              </div>
            </form>
          </div>-->
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        Todos os Direitos Reservados &copy; {{getYear()}}
    </footer>
</div>
