<div class="container">
    <!--<main id="content" class="widget-login-container" role="main">-->
    <main id="content" role="main">
        <div class="row">
            <!---->
            <div class="col-lg-10 col-sm-10 col-xs-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                <!--<header class="logo">-->
                    <!--<a ui-sref="login"></a>-->
                <!--</header>-->
                <section class="widget widget-login animated fadeInUp">
                    <form class="mt-lg col-lg-6 col-sm-6 col-xs-6 col-lg-offset-3 col-sm-ofset-3 col-xs-offset-3">
                        <div class="text-center">
                            <h2 class="mb-lg">Recuperar senha</h2>
                            <p>Para recuperar sua senha, preencha o campo abaixo com seu e-mail cadastrado.</p>
                        </div>

                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input id="email" type="text" class="form-control" ng-model="email">
                        </div>
                        <div class="clearfix">
                            <div class="btn-toolbar text-center">
                                <!--<button type="button" class="btn btn-default btn-sm">Create an Account</button>-->
                                <button class="btn btn-primary btn-big" ng-click="recover()">Enviar</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        Todos os direitos reservados &copy; {{year}}
    </footer>
</div>
