<div class="container">
  <!--<main id="content" class="widget-login-container" role="main">-->
  <main id="content" role="main">
    <div class="row">
      <div class="col-lg-10 col-sm-10 col-xs-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
        <!--<header class="logo">-->
          <!--<a ui-sref="login"></a>-->
        <!--</header>-->
        <section class="widget widget-login animated fadeInUp">
          <form class="mt-lg col-lg-6 col-sm-6 col-xs-6 col-lg-offset-3 col-sm-ofset-3 col-xs-offset-3">
            <div class="text-center">
              <h2 class="mb-lg">Recuperar senha</h2>
              <p>Para recuperar sua senha, preencha os campo abaixos com seu e-mail cadastrado e a nova senha.</p>
            </div>

            <!--<div class="form-group">-->
              <!--<label for="email">E-mail</label>-->
              <!--<input id="email" type="text" class="form-control" ng-model="vm.email">-->
            <!--</div>-->
            <div class="form-group">
              <label for="password">Senha</label>
              <input id="password" type="password" class="form-control" ng-model="vm.password">
            </div>
            <div class="form-group">
              <label for="password-confirm">Confirmação de senha</label>
              <input id="password-confirm" type="password" class="form-control" ng-model="vm.password_confirmation">
            </div>
            <div class="clearfix">
              <div class="btn-toolbar text-center">
                <button ng-disabled="vm.checkPwd()" class="btn btn-primary btn-big" ng-click="vm.reset()">Enviar</button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    Todos os direitos reservados &copy; {{vm.year}}
  </footer>
</div>
