<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <!---->
            <div class="col-lg-10 col-sm-10 col-xs-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                <header class="logo">
                    <a ui-sref="login"></a>
                </header>
                <section class="widget widget-auth animated fadeInUp">
                    <form method="POST" class="mt-lg col-lg-6 col-sm-6 col-xs-6 col-lg-offset-3 col-sm-ofset-3 col-xs-offset-3" data-parsley-priority-enabled="false" novalidate="novalidate">
                        <h2 class="mb-lg text-center">Vamos começar...</h2>
                        <div class="form-group">
                            <label for="first_name">Nome</label>
                            <input type="text" id="first_name" name="first_name" placeholder="" ng-model="signup.first_name" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Sobrenome</label>
                            <input type="text" id="last_name" name="last_name" placeholder="" ng-model="signup.last_name" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <!-- Email -->
                            <label for="email">E-mail</label>
                            <input type="email" id="email" name="email" placeholder="eu@meupet.com.br" class="form-control" ng-model="signup.email" data-parsley-trigger="change" required="required">
                        </div>
                        <div class="form-group">
                            <!-- Email -->
                            <label for="phone">Telefone</label>
                            <input type="phone" id="phone" name="phone" placeholder="" class="form-control" ng-model="signup.phone" data-parsley-trigger="change" required="required" ui-mask="(99) ?99999-9999">
                        </div>
                        <div class="form-group">
                            <!-- Password -->
                            <label for="password">Senha</label>
                            <input type="password" id="password" name="password" placeholder="" ng-model="signup.password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <!-- Password -->
                            <label for="password_confirmation">Confirmação de Senha</label>
                            <input type="password" id="password_confirmation" name="password_confirmation" placeholder="" ng-model="signup.password_confirmation" class="form-control" required>
                        </div>

                        <div class="clearfix">
                            <div class="btn-toolbar text-center">
                                <!--<button type="button" class="btn btn-default btn-sm">Create an Account</button>-->
                                <button class="btn btn-primary btn-big" ng-click="register()">Começar</button>
                            </div>
                            <div class="text-center">
                                <a ui-sref="login">Já tem cadastro?</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        [trocar texto] &copy; 2017
    </footer>
</div>