<section class="widget">
    <div class="widget-header">
        
    </div>
    <div class="webcam-body">
        <h1>Captura de Imagem</h1>
        <div class="webcam">
            <webcam channel="webcam.channel" on-streaming="webcam.onSuccess()" on-error="webcam.onError(err)" on-stream="webcam.onStream(stream)"></webcam>
            <img id="foto" ng-src="{{webcam.snapshotData}}" />
        </div>    
            <button id="capturar" class="btn btn-big btn-primary" type="button" ng-click="webcam.makeSnapshot()"><span class="icon fa fa-camera"></span>Capturar Foto</button>
            <button id="novaFoto" class="btn btn-big btn-primary" type="button"><span class="icon fa fa-undo"></span>Nova Foto</button>
            <button id="confirmar" class="btn btn-big btn-primary" type="button" ng-click="webcam.saveSnapshot()"><span class="icon fa fa-check"></span>Confirmar</button>            
            <canvas ng-hide="true" id="snapshot" width="200" height="200"></canvas>
            
    </div>
</section>

<script>
    $(document).ready(function()
    {
        $("#novaFoto").hide();
        $("#confirmar").hide();
        $("#cancelar").hide();
        $("img").hide();
    });

    $("#capturar").click(function(){
        $("#capturar").hide();
        $("#novaFoto").show();
        $("#confirmar").show();
        $("#cancelar").show();
        $("video").hide();
        $("img").show();

    });

    $("#novaFoto").click(function(){
        $("#capturar").show();
        $("#novaFoto").hide();
        $("video").show();
        $("img").hide();
    });
</script>