.agendap0 {
  padding-right: 0;
}

.calendar-component {
  div.row:last-child {
    div {
      div.small-calendar {
        padding: 1em;
      }
    }
  }
}

.fc-widget-header {
  border: none;

  .fc-day-header {
    border: none;
    padding: .5em;
  }
}

.fc-agendaDay-view, .fc-agendaWeek-view {
  .fc-widget-content {
    .fc-v-event.fc-event {
      border-radius: .5em;
      border: .2em solid;
      //padding: .5em;
      margin: .1em;
    }
  }
}

.fc-month-view {
  .fc-widget-content {
    .fc-v-event.fc-event {
      border-radius: .5em;
      border: none;
    }
    a.fc-day-grid-event.fc-h-event.fc-event {
      opacity: .75;
    }
    .fc-week {
      .fc-more-cell {
        div {
          text-align: center;
          padding: .5em;
        }
      }
    }
    .fc-scroller {
      //overflow-y: hidden;
    }
  }
}

.fc-widget-content {
  .fc-day-grid {
    border-top: 0;
    border-bottom: 0;
  }
  .fc-day-grid-container {
    .fc-day-grid {
      .fc-day-number {
        padding: 8px 8px 0 8px;
      }
    }
  }
  .fc-time-grid-container {
    .fc-axis {
      font-weight: 500;
      border: none;
    }
    td.fc-axis.fc-time.fc-widget-content {
      span {
        padding-right: .2em;
      }
      border: none;
      vertical-align: top;
    }
    .fc-event {
      font-weight: bold !important;
    }
    .fc-resizer {
      padding: .5em;
      cursor: row-resize;
    }
    .fc-resizer::after {
      opacity: 0;
    }
  }
}

td.fc-axis.fc-widget-content span {
  padding-right: .2em;
}

.fc-day-grid-event {
  margin: 4px 8px 0 8px;
  padding: 2px 4px;
  font-size: 13px;
  color: #FFF;
}

.fc-time-grid-event {
  color: #FFF;
}

//.fc-agenda-view {
//  > table > tbody > tr > td.fc-widget-content {
//    border: none;
//  }
//}

td.fc-day.fc-widget-content.fc-today.fc-state-highlight {
  background-color: $sidebar-item-hover-bg-color-lighter;
}

.widget-calendar {
  @media (min-width: $screen-lg-min) {
    margin-top: 0;
  }
}

div.small-calendar-table .fc-basic-view .fc-body .fc-row {
  min-height: 2em;
}

div.small-calendar-table .fc-content-skeleton {
  font-size: 10px
}

div.small-calendar-table .fc-widget-header {
  font-size: 8px;
}

div.full-calendar-table td.fc-widget-content {
  height: 4em;
}

a.fc-event {
    margin-top: 3%;
    margin-bottom: 3%;
}

div.agenda-buttons div div.logo-empresa {
    width: 3.5em;
    height: 3.5em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    //-webkit-box-shadow: inset 0px 0px 4px #000;
    //-moz-box-shadow: inset 0px 0px 4px #000;
    //box-shadow: inset 0px 0px 4px #000;
    margin-left: 1em;
}

div.agenda-buttons div div.logo-empresa-fallback img {
    position: absolute;
    width: 3.2em;
    border-radius: 50%;
    left: 1%;
    top: 5%;
    margin-left: 1em;
}
