
<ng-include src="'app/modules/agenda/agenda-buttons.html'"></ng-include>

<div class="calendar-component">
  <!--<div class="row">-->
    <!--<div class="col-lg-4">-->
      <!--<h1 class="page-title">{{vm.currentDayNumber}} - <span class="fw-semi-bold">{{vm.currentDay}}</span></h1>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="row small-calendar">
        <button class="btn btn-default col-xs-2 col-lg-2" data-ng-click="vm.prev('preview')"><i class="fa fa-angle-left"></i></button>
        <div class="col-xs-8 col-lg-8 text-center">{{vm.currentPreviewMonth}}</div>
        <button class="btn btn-default col-xs-2 col-lg-2" data-ng-click="vm.next('preview')"><i class="fa fa-angle-right"></i></button>
      </div>
      <div ui-calendar="vm.smallCalendarConfig.calendar"
           calendar="vm.eventsCalendar"
           class="small-calendar-table"></div>
      <div ng-if="vm.admin" style="margin-top: 2em;">
        <!-- Filtro de prestadores -->
        <h4><strong>Filtro de Prestadores</strong></h4>
        {{vm.prestadorSelected}}
        <input type="text" ng-model="vm.selectedPrestador" typeahead-on-select="vm.filterPrestador($item, true)"
               typeahead="prestadorItem.nome for prestadorItem in vm.prestadores | filter:$viewValue | limitTo:5" class="form-control">
        <div ng-repeat="prestador in vm.prestadores" ng-if="prestador.checked" style="margin-top: 1em;">
          <input type="checkbox" ng-model="prestador.checked" ng-change="vm.filterPrestador(prestador)" />
          {{prestador.nome}}
        </div>
        <!--<div style="margin-top: 1em;">-->
          <!--<button class="btn btn-primary" ng-click="vm.filterPrestador()">Selecionar todos</button>-->
        <!--</div>-->
        <!-- Filtro de pacientes -->
        <h4><strong>Filtro de Pacientes</strong></h4>
        <p style="font-size: .8em;">Escolha primeiro o prestador</p>
        {{vm.pacienteSelected}}
        <input type="text" ng-model="vm.selectedPaciente" typeahead-on-select="vm.filterPaciente($item, true)"
               typeahead="pacienteItem.nome for pacienteItem in vm.pacientes | filter:$viewValue | limitTo:5" class="form-control">
        <div ng-repeat="paciente in vm.pacientes" ng-if="paciente.checked" style="margin-top: 1em;">
          <input type="checkbox" ng-model="paciente.checked" ng-change="vm.filterPaciente(paciente, false)" />
          {{paciente.nome}}
        </div>
        <!--<div style="margin-top: 1em;">-->
          <!--<button class="btn btn-primary" ng-click="vm.filterPaciente()">Limpar Paciente</button>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-md-9 col-lg-9">
      <section class="widget widget-calendar">
        <div class="widget-body">
          <div class="calendar-controls">
            <!--<div class="btn-group ">-->
              <!--<button class="btn btn-default" data-ng-click="vm.prev('main')"><i class="fa fa-angle-left"></i></button>-->
              <!--<button class="btn btn-default" data-ng-click="vm.next('main')"><i class="fa fa-angle-right"></i></button>-->
            <!--</div>-->
            <!--<div class="btn-group pull-right" data-toggle="buttons">-->
              <!--<label class="btn btn-default active" data-ng-click="vm.changeView('month')">-->
                <!--<input type="radio" name="view" value="month"> Month-->
              <!--</label>-->
              <!--<label class="btn btn-default" data-ng-click="vm.changeView('agendaWeek')">-->
                <!--<input type="radio" name="view" value="agendaWeek"> Week-->
              <!--</label>-->
              <!--<label class="btn btn-default" data-ng-click="vm.changeView('agendaDay')">-->
                <!--<input type="radio" name="view" value="agendaDay"> Day-->
              <!--</label>-->
            <!--</div>-->
          </div>
          <div ui-calendar="vm.uiConfig.calendar"
               ng-model="vm.eventSources"
               calendar="eventsCalendar"
               class="full-calendar-table"></div>
        </div>
      </section>
      <div class="fab-button-simple center-hv" ng-click="vm.newEvent()">
        <span>+</span>
      </div>
      <script type="text/ng-template" id="show-event-modal.html">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5 class="modal-title">{{vm.event.title}}</h5>
        </div>
        <div class="modal-body fs-mini">
          <p><i class="fa fa-calendar text-muted fs-sm"></i> &nbsp; {{vm.event.start | date:'medium'}}
          <p data-ng-if="vm.event.end">
            <i class="fa fa-clock-o text-muted fs-sm"></i> &nbsp; {{vm.event.start | date:'medium'}}
          </p>
          <p data-ng-if="vm.event.description">{{vm.event.description}}</p>
        </div>
        <div class="modal-footer no-border">
          <button type="button" class="btn btn-default btn-sm" data-ng-click="vm.ok()">OK</button>
        </div>
      </script>
      <script type="text/ng-template" id="create-event-modal.html">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5 class="modal-title">Novo Evento</h5>
          <p class="fs-mini text-muted mt-sm">
            Just enter event name to create a new one
          </p>
        </div>
        <div class="modal-body bg-gray-lighter">
          <div class="form-group">
            <input type="text" data-ng-model="event.title" class="form-control input-no-border"
                   placeholder="Name">
          </div>
        </div>
        <div class="modal-footer no-border">
          <button data-ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
          <button data-ng-click="vm.ok()" class="btn btn-success">OK</button>
        </div>
      </script>
    </div>
  </div>
</div>

