<div class="prontuario">
    <div class="row">
        <ng-include src="'app/modules/core/utils/crud/breadcrumb.html'"></ng-include>
        <ng-include src="'app/modules/prontuarios/prontuario-buttons.html'"></ng-include>
    </div>



    <ng-include src="'app/modules/prontuarios/paciente-header.html'"></ng-include>



    <div style='display: flex;'>
        <tabset class="tabs-left" style='flex: 1;'>
            <tab heading="Descritivo">
                <fieldset style='position: relative;'>
                    <div class="form-group" ng-repeat="field in tabDescritivos.fields">
                        <label for="{{field.name}}" class="col-sm-3 control-label">{{field.label}}
                            <span ng-if="field.required">*</span>
                        </label>
                        <div class="col-sm-9">
                            <fw-input fw-data="data"></fw-input>
                        </div>
                    </div>
                </fieldset>
            </tab>
            <!--<tab heading="Formulários">-->
                <!--<ul>-->
                    <!--<li ng-repeat="formulario in formularios" style='display: flex;'>-->
                        <!--<div style="flex: 1;">-->
                            <!--<a ng-click="openFormulario(formulario)">{{formulario.nome}}</a>-->
                        <!--</div>-->
                        <!--<div style="width: 30%;">-->
                            <!--<input type="checkbox" ng-checked="formulario.active" disabled="disabled" />-->
                        <!--</div>-->

                    <!--</li>-->
                <!--</ul>-->
            <!--</tab>-->
            <tab heading="Encaminhamentos">
                <ul>
                    <li class="row" ng-repeat="encaminhamento in data.encaminhamentos track by encaminhamento._id" style='display: flex;'>
                      <div class="col-md-9" style="display: flex; align-items: center;">
                          <a ng-click="openEncaminhamento(encaminhamento)">{{encaminhamento.nome}}</a>
                      </div>
                      <div class="col-md-3" style="float: right;" ng-if="!disabled">
                          <button type="button" class="btn btn-default btn-delete" ng-click="deleteTabItem('encaminhamentos', encaminhamento)">
                              <span class="glyphicon glyphicon-remove"></span>
                          </button>
                      </div>
                    </li>
                </ul>
                <div ng-if="data.encaminhamentos.length === 0">
                    <h4>Nenhum encaminhamento cadastrado!</h4>
                </div>
                <div ng-if="!disabled">
                    <button style="font-weight: bold; margin: 1em 0 0 3em;" class="btn btn-primary" ng-click="openEncaminhamento()">Novo Encaminhamento</button>
                </div>
            </tab>
            <tab heading="Receituário">
                <ul>
                    <li class="row" ng-repeat="receita in data.receituarios track by receita._id" style='display: flex;'>
                        <div class="col-md-7" style="display: flex; align-items: center;">
                            <a ng-click="openReceituario(receita)">Receita: {{receita.nome}} ({{receita.data | moment:"format":"DD/MM/YYYY"}})</a>
                        </div>
                        <div class="col-md-5" style="float: right;">
                            <button type="button" class="btn btn-default btn-email" ng-click="emailReceituario(receita)" ng-disabled="sendingEmail">
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-print" ng-click="printReceituario(receita)">
                                <span class="glyphicon glyphicon-print"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-delete" ng-click="deleteTabItem('receituarios', receita)" ng-if="!disabled">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </li>
                </ul>
                <div ng-if="data.receituarios.length === 0">
                    <h4>Nenhuma receita cadastrada!</h4>
                </div>
                <div ng-if="!disabled">
                    <button style="font-weight: bold; margin: 1em 0 0 3em;" class="btn btn-primary" ng-click="openReceituario()">Nova Receita</button>
                </div>
            </tab>
            <tab heading="Formularios">
                <div crud-tab-list crud-tab-list-settings="{'type': 'formulario', 'headers': headers}"
                                   crud-tab-list-data="{'values': data.formulario_respostas, 'structure': formularios}"
                                   parent-data="data"></div>
            </tab>
          
            <!--<tab heading="Painel">-->
                <!--<ng-include src="'app/modules/prontuarios/prontuario-dashboard.html'"></ng-include>-->
            <!--</tab>-->
          <!---->
            <!--<tab heading="Evolução">-->
                <!--<ng-include src="'app/modules/prontuarios/filter-buttons.html'"></ng-include>-->
                <!--<ng-include src="'app/modules/prontuarios/prontuario-timeline.html'"></ng-include>-->
            <!--</tab>-->
            
            <tab heading="CID">
                <crud-tab-list crud-tab-list-settings="{'type': 'cid', 'headers': headers}"
                               crud-tab-list-data="null"
                               parent-data="data"></crud-tab-list>
            </tab>
            <tab heading="Exames">
                <crud-tab-list crud-tab-list-settings="{'type': 'exames_digitais', 'headers': headers}"
                               crud-tab-list-data="null"
                               parent-data="data"></crud-tab-list>
            </tab>
            <tab heading="Arquivos">
                <crud-tab-list crud-tab-list-settings="{'type': 'exames', 'headers': headers}"
                               crud-tab-list-data="null"
                               parent-data="data"></crud-tab-list>
            </tab>
            <tab heading="Documentos Médicos">
                <crud-tab-list crud-tab-list-settings="{'type': 'documentos-medicos', 'headers': headers}"
                               crud-tab-list-data="null"
                               parent-data="data"></crud-tab-list>
            </tab>
        </tabset>

        <div style='
            width: 25%;
            vertical-align: top;
            background: white;
            margin: 20px;
            margin-right: 0;
            text-align: center;
            font-family: sans-serif;
            margin-top: 0;
            padding: 13px;
            '>
            <div ng-if="data.status.nome === 'Em Atendimento'" class="atendimento-execucao">
              <h4 style="

                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.36;
                letter-spacing: normal;
                color: #47a78b;
                  ">Tempo de Atendimento</h4>
              <div style='
                  font-family: sans-serif;
                font-size: 44px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.75;
                letter-spacing: normal;
                text-align: center;
                color: #707070;
                margin-top: 30px;
                margin-bottom: 30px;
                  '>
                  <timer max-time-unit="'hour'" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
              </div>
              <div>
                  <button style="width: 90%; margin-bottom: 1em; font-weight: bold;" class="btn btn-primary" ng-click="finishAtendimento('Finalizado', true)" ng-disabled="!timerRunning">Finalizar Atendimento</button>
              </div>
              <div>
                  <button style="width: 90%; font-weight: bold;" class="btn btn-danger" ng-click="finishAtendimento('Cancelado', true)">Cancelar Atendimento</button>
              </div>
            </div>
            <div style="margin-top: 1em; " ng-if="data.status.nome !== 'Em Atendimento'" class="atendimento-finalizado">
              <div ng-if="!disabled">
                <button style="width: 90%; font-weight: bold;" class="btn btn-primary" ng-click="finishAtendimento('Finalizado', true)" ng-disabled="!timerRunning">Atualizar Atendimento</button>
              </div>
              <div>
                <button style="width: 90%; margin: 1em 0; font-weight: bold;" class="btn btn-danger" ng-click="goToList()">Voltar</button>
              </div>
            </div>
            <h4 style="margin-top: 2em; text-transform: uppercase;"><strong>{{data.status.nome}}</strong></h4>
        </div>
    </div>
</div>
