<style>
  .field-medicamento {
    width: 70%;
  }
  
  .field-obs {
    width: 80%;
  }
  
  .linha-field:not(:first-child) {
    margin-left: 10px;
  }
</style>
<section class="widget">
  <div class="widget-body">
    <fieldset>
      <legend>
        <strong>Exame Digital: Novo Item</strong>
      </legend>
      <form class="form-horizontal" ng-submit="save(this)" role="form" crud-form name="crudFormExameDigital" novalidate>
        <div class='linha' ng-repeat="linha in headers.masterdetails.exameDigitalItem.fields" style="display: flex; position: relative;">
          <div class="linha-field field-{{field.name}}" ng-repeat="field in headers.masterdetails.exameDigitalItem.fields[$index]">
            <label for="{{field.name}}" class="control-label">{{field.label}}
              <span ng-if="field.required">*</span>
            </label>
            <div>
              <fw-input fw-data="modal_data"></fw-input>
            </div>
          </div>
          <div style='position: absolute;
                    right: 0;
                    bottom: 0;'>
            <button class="btn btn-big btn-primary" ng-if="$index == 2">
              <span class="icon fa fa-floppy-o"></span>Adicionar
            </button>
          </div>
        </div>
      </form>
    </fieldset>
    
    <fieldset>
      <table class="detail-table table" style="width: 100%;
                margin-top: 50px;">
        <thead>
        <tr>
          <th ng-repeat="field in fields | filter: {viewable: true}">{{field.label}}</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in exameDigitalItens">
          <td ng-repeat="field in fields | filter: {viewable: true}">
            <span ng-if="field.type == 'date'">{{row[field.name] | moment:"format":"DD/MM/YYYY"}}</span>
            <span ng-if="field.type == 'simplecolor'">
              <cp-color class="color-picker" style="background-color: {{row[field.name]}}"></cp-color>
            </span>
            <span ng-if="field.autocomplete == false && field.type != 'date' && field.type != 'simplecolor'">{{row[field.name]}}</span>
            <span ng-if="field.autocomplete && row[field.name + '.label'].label == undefined">{{row[field.name + '.label']}}</span>
            <span ng-if="field.autocomplete && row[field.name + '.label'].label != undefined">{{row[field.name + '.label'].label}}</span>
          </td>
          
          <td>
            <button type="button" class="btn btn-delete btn-default" ng-click="editItem($index)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-delete btn-default" ng-click="deleteItem($index)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
        
        <tr ng-if="exameDigitalItens.length == 0" class="no-data">
          <td colspan="100%">
            Nenhum dado cadastrado.
          </td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
  <div class="widget-footer">
    <div class="form-actions">
      <div class="row">
        <div class="col-sm-offset-4 col-sm-7">
          <button type="submit" class="btn btn-big btn-primary" ng-click="submit()">
            <span class="icon fa fa-floppy-o"></span>Salvar</button>
          <button type="button" class="btn btn-big btn-inverse" ng-click="cancel()">
            <span class="icon fa fa-undo"></span>Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</section>
