<style>
    .filter-header {
        position: relative;
        z-index: 1;
        background-color: #fff;
    }
</style>

<div id="paciente-container" class="filter-header" style='display: flex; margin-bottom: 20px; padding: 10px; line-height: 25px;'>
    <div style='flex: 1; margin-left: 10px; font-family: sans-serif'>
        <div class="row" style="margin: 0;">
            <div style="float: left; margin: 0 1em 1em 0;">
                <label>Tipo</label>
                <div class="btn-group" style="margin-left: 1em;">
                    <label class="btn btn-primary" ng-model="filterPront.tipo.Consulta" btn-checkbox>Consulta</label>
                    <label class="btn btn-primary" ng-model="filterPront.tipo.Retorno" btn-checkbox>Retorno</label>
                </div>
            </div>
            <div style="float: left; margin: 0 1em 1em 0;">
                <label>Status</label>
                <div class="btn-group" style="margin-left: 1em;">
                    <label class="btn btn-primary" ng-model="filterPront.status.Finalizado" btn-checkbox>Finalizado</label>
                    <label class="btn btn-primary" ng-model="filterPront.status.Cancelado" btn-checkbox>Cancelado</label>
                </div>
            </div>
            <div style="float: left; margin: 0 1em 1em 0;">
                <label>Extras</label>
                <div class="btn-group" style="margin-left: 1em;">
                    <label class="btn btn-primary" ng-model="filterPront.extras.encaminhamentos" btn-checkbox>Encaminhamentos</label>
                    <label class="btn btn-primary" ng-model="filterPront.extras.receitas" btn-checkbox>Receitas</label>
                    <label class="btn btn-primary" ng-model="filterPront.extras.exames" btn-checkbox>Exames</label>
                    <label class="btn btn-primary" ng-model="filterPront.extras.arquivos" btn-checkbox>Arquivos</label>
                    <label class="btn btn-primary" ng-model="filterPront.extras.documentos" btn-checkbox>Documentos</label>
                </div>
            </div>
            <div style="float: left;">
                <button class="btn btn-primary" ng-click="clearFilter()">
                    <span class="icon fa fa-eraser"></span>Limpar
                </button>
            </div>
        </div>
        <!--<div class="row">-->
          <!--<div style="float: left; margin: 0 1em 1em 0;">-->
            <!--<label>Encaminhamentos</label>-->
            <!--<div class="btn-group">-->
              <!--<label class="btn btn-primary" ng-model="filterPront.encaminhamentos" btn-radio="true">Sim</label>-->
              <!--<label class="btn btn-primary" ng-model="filterPront.encaminhamentos" btn-radio="false">Não</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div style="float: left; margin: 0 1em 1em 0;">-->
            <!--<label>Receitas</label>-->
            <!--<div class="btn-group">-->
              <!--<label class="btn btn-primary" ng-model="filterPront.receituario" btn-radio="true">Sim</label>-->
              <!--<label class="btn btn-primary" ng-model="filterPront.receituario" btn-radio="false">Não</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div style="float: left; margin: 0 1em 1em 0;">-->
            <!--<label>Exames</label>-->
            <!--<div class="btn-group">-->
              <!--<label class="btn btn-primary" ng-model="filterPront.exames" btn-radio="true">Sim</label>-->
              <!--<label class="btn btn-primary" ng-model="filterPront.exames" btn-radio="false">Não</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div style="float: left;">-->
            <!--<button class="btn btn-primary" ng-click="clearFilter('radiobtn')">-->
              <!--<span class="icon fa fa-eraser"></span>Limpar Documentos</button>-->
          <!--</div>-->
        <!--</div>-->
    </div>
</div>
