<div id="dashboard">
  
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <section class="widget">
        <header>
          <h4>
            Relatório de <span class="fw-semi-bold">Glicemia Capilar</span>
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <!--<p class="fs-mini text-muted">-->
          <!--This project is an attempt to build re-usable charts and chart components for <span class="fw-semi-bold">d3.js</span> without-->
          <!--taking away the power that d3.js gives you.-->
          <!--</p>-->
          <div data-nvd3-chart data-chart="d3chartGlicemiaCapilarConfig" data-datum="d3chartGlicemiaCapilarData">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-12 col-lg-6">
      <section class="widget">
        <header>
          <h4>
            Relatório de <span class="fw-semi-bold">Pressão</span>
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <!--<p class="fs-mini text-muted">-->
          <!--This project is an attempt to build re-usable charts and chart components for <span class="fw-semi-bold">d3.js</span> without-->
          <!--taking away the power that d3.js gives you.-->
          <!--</p>-->
          <div data-nvd3-chart data-chart="d3chartPressaoConfig" data-datum="d3chartPressaoData">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    <!-- row -->
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <section class="widget">
        <header>
          <h4>
            Relatório de <span class="fw-semi-bold">Peso</span>
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <!--<p class="fs-mini text-muted">-->
          <!--This project is an attempt to build re-usable charts and chart components for <span class="fw-semi-bold">d3.js</span> without-->
          <!--taking away the power that d3.js gives you.-->
          <!--</p>-->
          <div data-nvd3-chart data-chart="d3chartPesoConfig" data-datum="d3chartPesoData">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-12 col-lg-6">
      <section class="widget">
        <header>
          <h4>
            Relatório de <span class="fw-semi-bold">Altura</span>
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <!--<p class="fs-mini text-muted">-->
          <!--This project is an attempt to build re-usable charts and chart components for <span class="fw-semi-bold">d3.js</span> without-->
          <!--taking away the power that d3.js gives you.-->
          <!--</p>-->
          <div data-nvd3-chart data-chart="d3chartAlturaConfig" data-datum="d3chartAlturaData">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    <!-- row -->
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <section class="widget">
        <header>
          <h4>
            Relatório de <span class="fw-semi-bold">IMC</span>
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <!--<p class="fs-mini text-muted">-->
          <!--This project is an attempt to build re-usable charts and chart components for <span class="fw-semi-bold">d3.js</span> without-->
          <!--taking away the power that d3.js gives you.-->
          <!--</p>-->
          <div data-nvd3-chart data-chart="d3chartIMCConfig" data-datum="d3chartIMCData">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-12 col-lg-6">
      <section class="widget">
        <header>
          <h4>
            Relatório de <span class="fw-semi-bold">HDL x LDL</span>
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <!--<p class="fs-mini text-muted">-->
          <!--This project is an attempt to build re-usable charts and chart components for <span class="fw-semi-bold">d3.js</span> without-->
          <!--taking away the power that d3.js gives you.-->
          <!--</p>-->
          <div data-nvd3-chart data-chart="d3chartHdlLdlConfig" data-datum="d3chartHdlLdlData">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    <!-- row -->
  </div>
</div>
