<div class="">
  <div class="row">
    <div class="timeline-centered">
      <div ng-hide="prontuario.length" style="
                    text-align: center;
                    margin: 20px 0;
                ">Nenhum registro encontrado para esse paciente.</div>
      <article class="timeline-entry" ng-repeat="entrada in prontuario | prontuarioFilter:filterPront" ng-click="goToAtendimento(entrada)">
        <div class="timeline-entry-inner">
          <time class="timeline-time" datetime="2014-01-10T03:45">
            <span>{{entrada.inicio | moment:"format":"DD/MM/YYYY"}}</span>
            <span>{{entrada.inicio | moment:"format":"HH:mm:ss"}}</span>
          </time>
          <div class="timeline-icon" ng-class="{'bg-success': entrada.status.nome === 'Finalizado', 'bg-danger': entrada.status.nome === 'Cancelado'}">
            <i ng-if="entrada.tipo.id == 1" class="fa fa-user-md"></i>
            <i ng-if="entrada.tipo.id == 2" class="fa fa-refresh"></i>
            <i ng-if="entrada.tipo.id == 3" class="fa fa-file-text-o"></i>
            <i ng-if="entrada.tipo.id == 4" class="fa fa-file-o "></i>
            <i ng-if="entrada.tipo === undefined" class="fa fa-file-o "></i>
          </div>
          <div class="timeline-label">
            <!-- Consultas and Retorno -->
            <div ng-if="entrada.tipo">
              <h2>{{entrada.tipo.nome}} - {{entrada.status.nome}}</h2>
              <div ng-if="entrada.prestador.nome !== undefined">
                <label>Prestador:</label>
                <span>{{entrada.prestador.nome}}</span>
              </div>
              <div ng-if="entrada.duracao != null">
                <label>Tempo:</label>
                <span>{{entrada.duracao}} minutos</span>
              </div>
              <div ng-if="entrada.descricao">
                <label>Descrição:</label>
                <span>{{entrada.descricao}}</span>
              </div>
            </div>

            <!-- Receituario and Encaminhamentos -->
            <!--<div ng-if="entrada.receituario.length > 0">-->
              <!--<a ng-click="printReceituario(entrada.receituario)">Imprimir Receituário</a>-->
              <!--<label style="float: left; margin-right: .5em;">Receitas: </label>-->
              <!--<div ng-repeat="receita in entrada.receituario track by receita.id">-->
                <!--<span style="margin-right: .5em;">{{receita.medicamento.nome}} </span>-->
              <!--</div>-->
            <!--</div>-->
            <div ng-if="entrada.encaminhamentos.length > 0">
              <label style="float: left; margin-right: .5em;">Encaminhamentos: </label>
              <div ng-repeat="encaminhamento in entrada.encaminhamentos track by encaminhamento.id">
                <span style="margin-right: .5em;">{{encaminhamento.prestador.nome}} ({{encaminhamento.especialidade.descricao}}) </span>
              </div>
            </div>

            <!-- Receitas, Encaminhamentos and Exams -->
            <div class="row" ng-if="entrada.label === 'receituario'">
              <div class="col-sm-9">
                <h2>Receita Prescrita: {{entrada.nome}}</h2>
                <div ng-repeat="item in entrada.receituario_itens" style="margin-bottom: 1em;">
                  <label>Medicamento:</label>
                  <span>{{item.medicamento.nome_apresentacao}} |</span>

                  <label>Quantidade:</label>
                  <span>{{item.qtd}} |</span>

                  <label>Dosagem:</label>
                  <span>{{item.dosagem}} |</span>

                  <label>Unidade de Medida:</label>
                  <span>{{item.unidade_medida.nome}} |</span>
  
                  <label>Posologia:</label>
                  <span>{{item.posologia.nome}} |</span>
  
                  <label>Via:</label>
                  <span>{{item.via.nome}} |</span>
  
                  <label>Duração:</label>
                  <span>{{item.duracao.nome}} |</span>
  
                  <label>Frequência:</label>
                  <span>{{item.frequencia.nome}}</span>
                  
                  <label ng-if="item.obs !== null">| Observação:</label>
                  <span ng-if="item.obs !== null">{{item.obs}}</span>
                </div>
              </div>
              <div class="col-sm-3" style="margin-top: 2%; text-align: right;">
                <button type="submit" class="btn btn-big btn-primary" ng-click="printReceituario(entrada)">
                  <span class="icon fa fa-print"></span>Imprimir</button>
              </div>
            </div>
            <div ng-if="entrada.label === 'encaminhamentos'">
              <h2>Encaminhamento Realizado</h2>
              <div>
                <label>Médico Encaminhado:</label>
                <span>{{entrada.prestador.nome}} |</span>

                <label>Especialidade:</label>
                <span>{{entrada.especialidade.descricao}}</span>
              </div>
              <div ng-if="entrada.observacao">
                <label>Observação:</label>
                <span>{{entrada.observacao}}</span>
              </div>
            </div>
            <div class="row" ng-if="entrada.label === 'exames'">
              <div class="col-sm-12">
                <h2>Exame Realizado</h2>
                <div>
                  <label>Data:</label>
                  <span>{{entrada.data | moment:"format":"DD/MM/YYYY"}}</span>
                </div>
                <div ng-if="entrada.obs">
                  <label>Observação:</label>
                  <span>{{entrada.obs}}</span>
                </div>
                <div ng-if="entrada.exame">
                  <label>Exame:</label>
                  <span>{{entrada.exame}}</span>
                </div>
                <div ng-if="entrada.valor">
                  <label>Valor:</label>
                  <span>{{entrada.valor}}</span>
                </div>
                <div ng-if="entrada.resultado">
                  <label>Resultado:</label>
                  <span>{{entrada.resultado}}</span>
                </div>
                <!--<div ng-if="entrada.cor">-->
                  <!--<label>Cor:</label>-->
                  <!--<span>{{entrada.cor}}</span>-->
                <!--</div>-->
              </div>
              <!--<div class="col-sm-4" style="text-align: right;">-->
                <!--<button type="submit" class="btn btn-big btn-primary" ng-click="downloadExam(entrada)">-->
                  <!--<span class="icon fa fa-download"></span>Download</button>-->
              <!--</div>-->
            </div>
            <div class="row" ng-if="entrada.label === 'arquivos'">
              <div class="col-sm-8">
                <h2>Arquivo Registrado</h2>
                <div>
                  <label>Título:</label>
                  <span>{{entrada.titulo}}</span>
                </div>
                <div ng-if="entrada.descricao">
                  <label>Descrição:</label>
                  <span>{{entrada.descricao}}</span>
                </div>
                <div ng-if="entrada.laudo">
                  <label>Laudo:</label>
                  <span>{{entrada.laudo}}</span>
                </div>
              </div>
              <div class="col-sm-4" style="text-align: right;">
                <button type="submit" class="btn btn-big btn-primary" ng-click="downloadExam(entrada)">
                  <span class="icon fa fa-download"></span>Download</button>
              </div>
            </div>
            <div class="row" ng-if="entrada.label === 'documentos'">
              <div class="col-sm-8">
                <h2>Documento Médico Apresentado</h2>
                <div>
                  <label>Nome:</label>
                  <span>{{entrada.nome}}</span>
                </div>
                <div>
                  <label>Tipo:</label>
                  <span>{{entrada.documento_tipo.nome}}</span>
                </div>
                <div>
                  <label>Texto:</label>
                  <span>{{entrada.texto}}</span>
                </div>
              </div>
              <div class="col-sm-4" style="text-align: right;">
                <button type="submit" class="btn btn-big btn-primary" ng-click="printDocumento(entrada)">
                  <span class="icon fa fa-print"></span>Imprimir</button>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
