<div id="dashboard">
  <div ng-if="dashboards.length === 0">
    <h3>Nenhum relatório cadastrado!</h3>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6" ng-repeat="dashboard in dashboards">
      <!-- { indicador.label: 'Glicose', indicador: {}, valores: [{ data: '2018-05-18T03:00:00.000Z', valor: 126, resultado: 'Diabetes', cor: '#FF4136' }] } -->
      <fw-chart crud-chart-settings="{
        'key': dashboard['indicador.label'],
        'chart_settings': dashboard.chart_settings
      }" crud-chart-data="dashboard.valores"></fw-chart>
    </div>
    <!-- row -->
  </div>
</div>
