<div class="button-container text-right col-md-7 col-xs-7 col-lg-7" style="margin-bottom: 10px;">
    <div class="row">
        <div style="float: right; padding: .5em;">
            <button type="button" class="btn btn-primary" ui-sref="app.agenda">
              <span class="icon fa fa-calendar"></span> Agenda
            </button>
        </div>
        <div style="float: right; padding: .5em;" ng-if="$state.current.name != 'app.atendimentos.new' && $state.current.name != 'app.atendimentos.edit'">
            <button type="button" class="btn btn-primary" ng-click="print()">
              <span class="icon fa fa-print"></span> Imprimir Prontuário
            </button>
        </div>
        <div style="float: right; padding: .5em;" ng-if="$state.current.name != 'app.atendimentos.new' && $state.current.name != 'app.atendimentos.edit'">
            <button type="button" class="btn btn-primary" ng-click="startAtendimento()">
                <span class="icon fa fa-plus"></span> Novo Atendimento
            </button>
        </div>
    </div>
</div>
