<div class="prontuario">

    <div class="row">
        <ng-include src="'app/modules/core/utils/crud/breadcrumb.html'"></ng-include>
        <ng-include src="'app/modules/prontuarios/prontuario-buttons.html'"></ng-include>
    </div>

    <ng-include src="'app/modules/prontuarios/paciente-header.html'"></ng-include>

    <tabset class="tabs-left">
        <tab heading="Painel" select="renderCharts()">
          <ng-include src="'app/modules/prontuarios/prontuario-dashboard.html'"></ng-include>
        </tab>
        <tab heading="Evolução">

          <ng-include src="'app/modules/prontuarios/filter-buttons.html'"></ng-include>
          <ng-include src="'app/modules/prontuarios/prontuario-timeline.html'"></ng-include>
        </tab>
        <!--<tab heading="Antecedentes">-->
          <!--<ng-include src="'app/modules/prontuarios/prontuario-antecedentes.html'"></ng-include>-->
        <!--</tab>-->
        <tab heading="CID">
            <crud-tab-list crud-tab-list-settings="{'type': 'cid', 'headers': headers}"
                           crud-tab-list-data="null"
                           parent-data="data"></crud-tab-list>
        </tab>
        <tab heading="Exames">
            <crud-tab-list crud-tab-list-settings="{'type': 'exames_digitais', 'headers': headers}"
                           crud-tab-list-data="null"
                           parent-data="data"></crud-tab-list>
        </tab>
        <tab heading="Arquivos">
            <crud-tab-list crud-tab-list-settings="{'type': 'exames', 'headers': headers}"
                           crud-tab-list-data="null"
                           parent-data="data"></crud-tab-list>
        </tab>
        <tab heading="Documentos Médicos">
            <crud-tab-list crud-tab-list-settings="{'type': 'documentos-medicos', 'headers': headers}"
                           crud-tab-list-data="null"
                           parent-data="data"></crud-tab-list>
        </tab>
    </tabset>
</div>
