<section class="widget">
    <div class="widget-body">



        
        <form class="form-horizontal" role="form" ng-submit="submit(this)" crud-form name="crudForm" novalidate>
            <fieldset>
                <legend>
                    <strong>{{detail.label}}</strong>
                </legend>

                <table class="detail-table">
                    <thead>
                        <tr>
                            <th ng-repeat="field in detail.fields | filter: {editable: true}">{{field.label}}</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detail_data in data[detail_key]" ng-class="{'new': detail_data.new != undefined}">
                            <td ng-repeat="field in detail.fields | filter: {editable: true}">
                                <fw-input fw-data="detail_data"></fw-input>
                            </td>

                            <td>
                                <button type="button" class="btn btn-delete btn-default" ng-click="deleteDetailData(detail_data, detail_key)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>

                        <tr ng-if="data[detail_key].length == 0" class="no-data">
                            <td colspan="100%">
                                Nenhum dado cadastrado.
                            </td>
                        </tr>
                    </tbody>


                </table>
                <div class="pull-right">
                    <a class="btn btn-primary btn-block btn-new" ng-click="newReceituarioItem(tab, data)"><span class="fa fa-plus"></span> Novo {{tab.label_row}}</a>
                </div>
            </fieldset>
        </form>
    </div>
</section>
