<form class="form-horizontal" role="form" ng-submit="submit(this)" crud-form-old name="crudForm" novalidate>
<div class="modal-header">
    <h4>Sobre nós</h4>
</div>

<div class="modal-header">
    <span>Este projeto foi desenvolvido utilizando tecnologias de última geração e conceitos atuais de transferências de informações, assim como a utilização de tecnologias de integração de plataformas.</span>
  <span> Os responsáveis foram as empresas <strong><a href="http://www.letscomunica.com.br" target="_blank">Lets Comunica</a></strong> e <strong><a href="http://www.greatmob.com.br" target="_blank">GreatMob</a></strong>, ambas especialistas em desenvolvimento web e tecnologias inovadoras, para entrar em contato utilizem os e-mails: <strong><a href="mailto:contato@letscomunica.com.br?Subject=Contato">contato@letscomunica.com.br</a></strong> ou <strong><a href="mailto:contato@greatmob.com.br?Subject=Contato">contato@greatmob.com.br</a></strong></span>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6" style="text-align: center;">
            <a href="http://www.letscomunica.com.br" target="_blank"><img src="assets/images/logo-letsdev.png"/></a>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-6" style="text-align: center;">
            <a href="http://www.greatmob.com.br" target="_blank"><img src="assets/images/logo-great.png"/></a>
        </div>
    </div>
</div>


<div class="modal-footer">
    <div class="form-actions">
        <div class="row">
            <div class="text-center">
                <button type="button" class="btn btn-big btn-inverse" ng-click="cancel()">
                    <span class="icon fa fa-undo"></span>Voltar</button>
            </div>
        </div>
    </div>
</div>
</form>
