<div class="modal-header">
        <h4>Meus Dados</h4>
    </div>
    <form class="form-horizontal" role="form" ng-submit="submit(this)" crud-form-old name="crudForm" novalidate>
        <div class="modal-body">
    
            <fieldset>
    
                <div class="form-group">
                    <label for="nome" class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-9">
                        <div class="input-container">
                            <div class="fw-input-group">
                                <input type="text" id="nome" ng-required="true" ng-model="user.nome" class="main-input form-control" />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-9">
                        <div class="input-container">
                            <div class="fw-input-group">
    
                                <input type="text" id="email" ng-required="true" readonly ng-model="user.email" class="main-input form-control" />
                                <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <label style="line-height: 54px;" for="password_fake" class="col-sm-2 control-label">Senha</label>
                    <div class="col-sm-9">
                        <a class="pull-right" ng-click="toggleChangePassword()">Alterar senha</a>
                        <div class="input-container">
                            <div class="fw-input-group">
    
                                <input type="password" id="password_fake" ng-required="true" readonly value="******" class="main-input form-control" />
                                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div ng-show="showChangePassword">
                    <div class="form-group">
                        <label for="new_password" class="col-sm-2 control-label">Nova Senha</label>
                        <div class="col-sm-9">
                            <div class="input-container">
                                <div class="fw-input-group">
    
                                    <input type="password" id="new_password" ng-required="true" ng-model="user.password_new" class="main-input form-control" />
                                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password_new_confirm" class="col-sm-2 control-label">Confirmar nova senha</label>
                        <div class="col-sm-9">
                            <div class="input-container">
                                <div class="fw-input-group">
    
                                    <input type="password" id="password_new_confirm" ng-required="true" ng-model="user.password_new_confirm" class="main-input form-control" />
                                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
    
                        <h5 class="modal-header">Para alterar seus dados confirme a senha atual.</h5>
                        <label for="password_old" class="col-sm-2 control-label">Senha Atual</label>
                        <div class="col-sm-9">
                            <div class="input-container">
                                <div class="fw-input-group">
    
                                    <input type="password" id="password_old" ng-required="true" ng-model="user.password_old" class="main-input form-control" />
                                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
    
        </div>
        <div class="modal-footer">
            <div class="form-actions">
                <div class="row">
                    <div class="text-center">
                        <button type="submit" class="btn btn-big btn-primary"><span class="icon fa fa-floppy-o"></span>Salvar</button>
                        <button type="button" class="btn btn-big btn-inverse" ng-click="cancel()"><span class="icon fa fa-undo"></span>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>